<div class = "container mt-3">
  <div class="row">


      <h1>my items</h1>

        <div class = 'row mt-4'>
          <% @items.each do |item| %>
            <div class = 'col-3'>
              <td><%= link_to items_path(item.id) do %>

            <% if item.image.attached? %>
              <%= image_tag item.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>

                <%#= image_tag items.image, size: "100x100" %>
              <% end %>
              </td><br>
              <td><%= link_to item_path(item.id) do %>
                <%= item.name %>
              </td><br>
              <% end %>
              ¥<%= item.price %>
            </div>
          <% end %>
        </div>



    </div>
  </div>
</div>
